# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

### Explain what a CSV file is.

In [3]:
## Answer
#
### A CSV file is simply a file storing tabular data. Each value in the row is separated by a comma.
### This type of file is normally used when exchanging data between different applications.
# 
### Example of comma separated values (CSV)
#### Name, Age, Height
#### Anders, 7, 110
#### Brad, 8, 115
#### Cecilia, 8, 120
#### David, 7, 100
#### Erik, 7, 103
#
### Examples of use...
### Applications like Excel has great functionality both importing and exporting CSV files.
### Engineer software can import CSV-files and create curves or surfaces. 
### AI-modules can use this data to extract information.

### Load the data set "cars_data" through Pandas.

In [5]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 

import pandas as pd
import numpy as np

# data file is in same folder as python code
data = pd.read_csv(r'cars_data.csv')

# show all columns without any line break
pd.set_option('display.max_columns', None) 
pd.set_option('display.expand_frame_repr',False)

### Print the first 10 rows of the data.

In [7]:
print ("The first 10 rows...")
print (data.head(10))
print()

The first 10 rows...
   index      company   body-style  wheel-base  length engine-type num-of-cylinders  horsepower  average-mileage    price
0      0  alfa-romero  convertible        88.6   168.8        dohc             four         111               21  13495.0
1      1  alfa-romero  convertible        88.6   168.8        dohc             four         111               21  16500.0
2      2  alfa-romero    hatchback        94.5   171.2        ohcv              six         154               19  16500.0
3      3         audi        sedan        99.8   176.6         ohc             four         102               24  13950.0
4      4         audi        sedan        99.4   176.6         ohc             five         115               18  17450.0
5      5         audi        sedan        99.8   177.3         ohc             five         110               19  15250.0
6      6         audi        wagon       105.8   192.7         ohc             five         110               19  18920.0
7      9          bmw        sedan       101.2   176.8         ohc             four         101               23  16430.0
8     10          bmw        sedan       101.2   176.8         ohc             four         101               23  16925.0
9     11          bmw        sedan       101.2   176.8         ohc              six         121               21  20970.0

### Print the last 5 rows.

In [9]:
print ("The last 5 rows...")
print (data.tail(5))
print ()

The last 5 rows...
    index     company body-style  wheel-base  length engine-type num-of-cylinders  horsepower  average-mileage    price
56     81  volkswagen      sedan        97.3   171.7         ohc             four          85               27   7975.0
57     82  volkswagen      sedan        97.3   171.7         ohc             four          52               37   7995.0
58     86  volkswagen      sedan        97.3   171.7         ohc             four         100               26   9995.0
59     87       volvo      sedan       104.3   188.8         ohc             four         114               23  12940.0
60     88       volvo      wagon       104.3   188.8         ohc             four         114               23  13415.0

### By using the info method, check how many non-null rows each column have.

In [11]:
# how many non-null rows in each column?
print ()
data.info()
print ()

# alternative - make this a little easier to read
for col in data.columns:
    no_null_cnt = data[col].notnull().sum()
    print(f"The column {col},has {no_null_cnt} non null rows.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

The column index,has 61 non null rows.
The column company,has 61 non null rows.
The column body-style,has 61 non null rows.
The column wheel-base,has 61 non null rows.
The column length,has 61 non null rows.
The column engine-type,has 61 non null rows.
The column num-of-cylinders,has 61 non null rows.
The column horsepower,has 61 non null rows.
The column average-mileage,has 61 non null rows.
The column price,has 58 non null rows.

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [13]:
data.dropna(inplace=True)
print (data.head())

   index      company   body-style  wheel-base  length engine-type num-of-cylinders  horsepower  average-mileage    price
0      0  alfa-romero  convertible        88.6   168.8        dohc             four         111               21  13495.0
1      1  alfa-romero  convertible        88.6   168.8        dohc             four         111               21  16500.0
2      2  alfa-romero    hatchback        94.5   171.2        ohcv              six         154               19  16500.0
3      3         audi        sedan        99.8   176.6         ohc             four         102               24  13950.0
4      4         audi        sedan        99.4   176.6         ohc             five         115               18  17450.0

### Calculate the mean of each numeric column.

In [15]:
# find the numeric columns only
mean_val = data.mean(numeric_only=True)
print (mean_val)

index                 40.827586
wheel-base            98.620690
length               173.646552
horsepower           106.051724
average-mileage       25.534483
price              15387.000000
dtype: float64

### Select the rows where the column "company" is equal to 'honda'.

In [17]:
honda_rows = data[data['company']=='honda']
print (honda_rows)

    index company body-style  wheel-base  length engine-type num-of-cylinders  horsepower  average-mileage    price
18     27   honda      wagon        96.5   157.1         ohc             four          76               30   7295.0
19     28   honda      sedan        96.5   175.4         ohc             four         101               24  12945.0
20     29   honda      sedan        96.5   169.1         ohc             four         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [19]:
sort_data_desc = data.sort_values(by='price', ascending=False)

# show first 10 row in sorted dataset
print (sort_data_desc.head(10))

    index        company   body-style  wheel-base  length engine-type num-of-cylinders  horsepower  average-mileage    price
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv            eight         184               14  45400.0
11     14            bmw        sedan       103.5   193.8         ohc              six         182               16  41315.0
34     46  mercedes-benz        sedan       120.9   208.1        ohcv            eight         184               14  40960.0
46     62        porsche  convertible        89.5   168.9        ohcf              six         207               17  37028.0
12     15            bmw        sedan       110.0   197.0         ohc              six         182               15  36880.0
26     35         jaguar        sedan       102.0   191.7        ohcv           twelve         262               13  36000.0
25     34         jaguar        sedan       113.0   199.6        dohc              six         176               15  35550.0
45     61        porsche      hardtop        89.5   168.9        ohcf              six         207               17  34028.0
24     33         jaguar        sedan       113.0   199.6        dohc              six         176               15  32250.0
10     13            bmw        sedan       103.5   189.0         ohc              six         182               16  30760.0

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [21]:
# select rows where column "company" equals "audi", "bmw" or "porsche" 
selected_rows = data[data['company'].isin(['audi', 'bmw', 'porsche'])]
print (selected_rows)

    index  company   body-style  wheel-base  length engine-type num-of-cylinders  horsepower  average-mileage    price
3       3     audi        sedan        99.8   176.6         ohc             four         102               24  13950.0
4       4     audi        sedan        99.4   176.6         ohc             five         115               18  17450.0
5       5     audi        sedan        99.8   177.3         ohc             five         110               19  15250.0
6       6     audi        wagon       105.8   192.7         ohc             five         110               19  18920.0
7       9      bmw        sedan       101.2   176.8         ohc             four         101               23  16430.0
8      10      bmw        sedan       101.2   176.8         ohc             four         101               23  16925.0
9      11      bmw        sedan       101.2   176.8         ohc              six         121               21  20970.0
10     13      bmw        sedan       103.5   189.0         ohc              six         182               16  30760.0
11     14      bmw        sedan       103.5   193.8         ohc              six         182               16  41315.0
12     15      bmw        sedan       110.0   197.0         ohc              six         182               15  36880.0
45     61  porsche      hardtop        89.5   168.9        ohcf              six         207               17  34028.0
46     62  porsche  convertible        89.5   168.9        ohcf              six         207               17  37028.0

In [22]:
### Find the number of cars (rows) for each company. 

# use 'groupby' to find specified column
company_c = data.groupby('company').size()
print(company_c)

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            1
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          2
toyota           7
volkswagen       4
volvo            2
dtype: int64

### Find the maximum price for each company.

In [24]:
# use 'groupby' to find specified column
company_maxprice = data.groupby('company')['price'].max()
print(company_maxprice)

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [25]:
# complete